@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
body {
    color: #fff;
    box-sizing: border-box;
}
.wrapper {
    color: black;
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px 60px;
}
.select-wrapper {
    max-width: 380px;
    position: relative;
    margin-bottom: 28px;
    margin-left: auto;
}
select {
    width: 100%;
    -webkit-appearance: unset;
    -moz-appearance: unset;
    appearance: unset;
    outline: none;
    cursor: pointer;
    padding: 9px 20px;
    background-color: transparent;
    border: 2px solid #000aff;
    border-radius: 28px;
    color: #000;
    font-size: 24px;
    line-height: 30px;
}
.select:focus {
    outline: none;
}

.select-wrapper::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="17" viewBox="0 0 28 17" fill="none"><path d="M26 2L14 14L2 2" stroke="%23000AFF" stroke-width="3" stroke-linecap="round"/></svg>');
    position: absolute;
    pointer-events: none;
    top: 60%;
    right: 16px;
    transform: translateY(-60%);
}

canvas {
    background-color: rgba(255, 0, 245, 0.05);
    border-radius: 27px;
    padding: 40px;
}
